:root {
  color-scheme: light dark;

  /* Color Theme Swatches in Hex */
  --dark: #012E40;
  --med-dark: #024959;
  --med: #026773;
  --med-light: #3CA6A6;
  --whitish: #F2E3D5;
}

body {
  color: light-dark(var(--dark), var(--whitish));
  background-color: light-dark(var(--med-light), var(--dark));
}

/*
*  TABLE
*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75vw;
  margin:auto;
}
  
td, th {
  border: 0px solid light-dark(var(--med-dark), var(--med-light));
  text-align: left;
  padding: 8px;
}

/* sets the edit row to small */
td.dynamic {
  width: 86px;
}
  
tr:nth-child(even) {
  background-color: light-dark(var(--med), var(--med));
  
  a:hover {
    color: light-dark(var(--dark), var(--dark));
  }
}

a {
  color: inherit;
}
a:hover {
  color: light-dark(var(--med), var(--med));
}
a:active {
  color: light-dark(var(--dark), var(--med-light));
}

/*
*  BUTTONS
*/

button {
  height: 30px;
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 2px;

  font-size: 12pt;

  color: var(--whitish);
  background-color: var(--med-dark);
}

button:hover { border: 2px solid light-dark(var(--dark), var(--med-light)); }

button:active { border: 2px solid light-dark(var(--med), var(--med)); }

#new-review-button { float: right; }

/*
*  DROPDOWNS
*/

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_text */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  color: light-dark(var(--dark), var(--whitish));
  background-color: var(--med-dark);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
  z-index: 1;
  border-radius: 8px;
}

/* show on hover */
.dropdown:hover .dropdown-content { display: block; }

.ad {
  display: block;
  width: 20vw;
  height: 20vw;
  border: 2px solid light-dark(black, white);

  float: right;
}

/*
*  FORMS
*/

#edit-form {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

input, textarea {
  margin: auto;
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: light-dark(var(--whitish), var(--med-dark));
  color: light-dark(var(--dark), var(--whitish));
}

input {
  font-size: 16pt;
}

textarea {
  font-size: 12pt;
}

#star-range {
  width: 50%;
}

#stars {
  font-size: 16pt;
  margin: auto;
  display:block;
  text-align: center;
}



